div(class="user-profile")
  div(class="user-hero")
    img(class="user-hero__photo" src="public/images/user-photo.png")
    h1(class="user-hero__name") 
    h2(class="user-hero__nike") 

  div(class="user-hero-meta")
    p(class="user-hero-meta__job")
      span(name="company")
      br
      span(name="bio")
    ol(class="user-hero-meta__contact")
      li(class="user-hero-meta__contact-item" name="email") 
      li(class="user-hero-meta__contact-item" name="location") 
      li(class="user-hero-meta__contact-item" name="blog") 
