html(lang="pt-BR" )
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "Github User starred repos"
  body
    main(class="wrapper")
      section(class="search search--large")
        include partials/logo.pug
        form(class="search__form")
          input(class="search__input search__input--simple ")
          button(class="search__submit text-hide") search
        img(class="search__profile-image" src="public/images/user-profile-search.png")
      
      section(class="not-found")
        img(class="not-found__image" src="public/images/not-found.png")
        h2(class="not-found__title") User not found
        a(class="button--unstar" href=authorize_uri + '?client_id='+ client_id + '&redirect_uri=' + redirect_uri + '&scope='+ scope title="Login with Github") Login with Github


    script(src='/home.bundle.js')